@import '../../util.scss';

.noticeRegContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
  
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
  
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .regTextBox1, .regTextBox2, .regTextBox4 {
        width: 100%;
        margin-bottom: 20px;
  
        .regContent {
          width: 100%;
          height: 200px;
          background-color: $inptut-gray;
          border-radius: 10px;
          outline: none;
          padding: 10px;
          border: 1px solid #ccc;
          &::placeholder {
            color: $text-gray;
          }
        }
      }
  
      .fileListContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
      }
  
      .fileListItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        cursor: pointer;
      }
  
      .filePreviewImage {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
      }
  
      .modal-button {
        margin-top: 20px;
      }
      
    }
    .Button2 {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 7%;
      }
  }
  